<div style="font-family: 'Arial', sans-serif; background-color: #f4f4f9; margin: 0; padding: 0; display: flex; justify-content: center; align-items: center; height: 100vh;">
    <div style="background-color: #fff; padding: 40px; border-radius: 10px; box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); text-align: center; max-width: 500px; margin: 20px;">
        <h1 style="font-size: 24px; color: #333;">Подтверждение электронной почты</h1>
        <p style="font-size: 16px; color: #555;">Здравствуйте, @Model.FullName</p>
        <p style="font-size: 16px; color: #555;">
            Для завершения регистрации и получения доступа к Вашему профилю в нашем телеграм-боте, пожалуйста,
            подтвердите свою электронную почту, нажав на кнопку ниже.
        </p>

        <a href="@Model.EmailVerificationLink" style="display: inline-block; background-color: #4CAF50; color: white; padding: 10px 20px; border-radius: 5px; text-decoration: none; font-size: 16px; margin-top: 20px;">Подтвердить почту</a>

        <div style="margin-top: 40px;">
            <p style="font-size: 14px; color: #555; margin-bottom: 10px;">С уважением,<br>команда разработки Lor</p>
            <a href="https://github.com/TheActualTwinkle/LOR" target="_blank">
                <img src="https://cdn-icons-png.flaticon.com/512/25/25231.png" alt="GitHub" style="width: 40px; height: 40px">
            </a>
        </div>
    </div>
</div>